html {
    box-sizing: border-box
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

body {
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: teal;
}

.form_labelText {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    max-width: 150px;
    margin-right: 5px;
    text-align: left;
}

.form_field {
    border: 1px solid rgb(114, 113, 113);
    height: 30px;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

.form_button {
    margin-top: 20px;
    background-color: teal;
    color: white;
    height: 35px;
    width: 100%;
    max-width: 470px;
    border: none;
    border-radius: 5px;
}

.form_button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form_button:active {
    background-color: hsl(180, 100%, 35%);
}

.information {
    margin: 25px;
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.js-formResult {
    color: teal;
    font-size: large;
}